<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Warga Detail Kelurahan</title>
</head>
<body>
    <h1>Daftar Warga Detail</h1>
    <ul>
        <li>Nama: {{ object.lengkap }}</li>
        <li>NIK: {{ object.nik }}</li>
        <li>Alamat: {{ object.alamat }}</li>
        <li>No Telp: {{ object.no_telepon }}</li>
    </ul>
</body>
</html>

<hr>
<h2>Daftar Pengaduan oleh {{ object.nama_lengkap }}</h2>

<ul>
    {% for aduan in object.pengaduan.all %}
        <li>
            <strong>{{ aduan.judul }}</strong>
            (Status: {{ aduan.get_status_display }})
            <p>{{ aduan.deskripsi }}</p>
        </li>
    {% empty %}
        <li>Warga ini belum memiliki pengaduan.</li>
    {% endfor %}
</ul>
